@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PeydaWeb";
  src: local("PeydaWeb-Regular"),
    url("./fonts/PeydaWeb-Regular.woff") format("woff");
  font-weight: Normal;
}
@font-face {
  font-family: "PeydaWeb";
  src: local("PeydaWeb-SemiBold"),
    url("./fonts/PeydaWeb-SemiBold.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "PeydaWeb";
  src: local("PeydaWeb-Bold"), url("./fonts/PeydaWeb-Bold.woff") format("woff");
  font-weight: Bold;
}
@font-face {
  font-family: "PeydaWeb";
  src: local("PeydaWeb-ExtraBold"),
    url("./fonts/PeydaWeb-ExtraBold.woff") format("woff");
  font-weight: 900;
}

* {
  font-family: "PeydaWeb";
}
